:root{
    --black:#000000;
    --white:#ffffff;
    --red: #820000;
}

.xanh-mono-regular {
    font-family: "Xanh Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .xanh-mono-regular-italic {
    font-family: "Xanh Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }

body{
    background-color: var(--black)
}

h1{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 3rem 5rem;
    text-align: center;
}

h1 img{
    width: 50%;
    margin: auto;
}

h1 a{
    grid-column: 2/3;
    margin:auto;
    padding: 0.75rem;
    border-top: 2px solid var(--red);
    border-bottom: 2px solid var(--red);
    text-decoration: none;
    color: var(--white);
}

h1 a:hover{
    border-top: 2px solid var(--red);
    border-bottom: 2px solid var(--red);
    padding: 1.25rem;
    text-decoration: none;
    color: var(--red);
    transition: all 300ms;
    background-color: var(--white);
}

#navigation ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

#navigation li{
    margin: auto;
    padding: 1rem;
    border-top: 2px dashed var(--white);
    border-bottom: 2px dashed var(--white);
}

#navigation a{
    text-decoration: none;
    color: white;
}

#navigation li a:hover{
    padding: 1rem;
    text-decoration: none;
    color: var(--red);
    background-color: var(--white);
    transition: all 300ms;
}

h2{
    color: var(--white);
    text-align: center;
    margin-top: 4rem;
    border: 2px solid var(--red);
}